<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    First Name <input type="text" class="form-control" ng-model="m.currentUser.FirstName"/><br />
    Last Name <input type="text" class="form-control" ng-model="m.currentUser.LastName"/><br />
    E-mail <input type="email" class="form-control" ng-model="m.currentUser.Email"/><br />
    Password <input type="password" class="form-control" ng-model="m.currentUser.UserPassword.Password"/><br />
    Confirm Password <input type="password" class="form-control" /><br />
    <button class="btn btn-success btn-register" ng-click="m.Add()">Register</button>
</body>
</html>
